body {
    background-color: lightblue;
    font-family: verdana;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  p {
    font-size: 25px;
    float: left;
    margin: unset;
    margin-inline-end: 300px;
  }

  #divMenu{
    display: -webkit-inline-box;
 }
