div{
    display: flex;
}

#divSearchBar{
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:10px;
    width:300px;
    height:32px;
    display: flex;
    float: right;
  }
   
  #txtBusca{
    float:left;
    background-color:floralwhite;
    padding-left:5px; 
    font-size:18px;
    border:none;
    height:32px;
    width: 770px;
  }
   
  #btnBusca{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:90px;
    font-weight:bold;
    background:#5F9EA0;
  }
